name: Pages
concurrency:
  group: "Pages"
  cancel-in-progress: true
on:
  push:
    branches: main
  pull_request:
    branches: main
  release:
    types: published
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Toolchain
        uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f
        with:
          default: true
          toolchain: stable
      - name: Dev
        run: |
          mkdir -p _site/
          cargo rustdoc --release --features fem -- --html-in-header .github/katex.html
          mv target/doc/conspire/ target/doc/latest/
          cp -r target/doc/* _site/
      - name: Upload
        uses: actions/upload-pages-artifact@v3
  Deploy:
    if: github.event_name != 'pull_request'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
